<?php defined("APP") or die("Hacking attempt!"); ?>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>post title</b>
                    <span class="pull-right">
                        Дата публикации: <b>date</b>
                    </span>
                </div>
                <div class="panel-body">
                    <img src="https://1.bp.blogspot.com/-Uu0vdYh-fo4/Vtsuz743o_I/AAAAAAAAAiQ/l__Gg5FSj6g/s1600/flat_mountains_landscape_by_ggiuliafilippini-d8zdbco.jpg" class="img-thumbnail">
                    <hr>
                    <p>post text</p>
                </div>
                <div class="panel-footer">
                    Категория: <a href="#"><b>category</b></a> | Автор: <a href="#"><b>author</b></a>
                    <span class="pull-right">
                        <a href="#"><b>Подробнее</b></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <?php self::view("template/sidebar", ['categories' => $categories, 'currentCategory' => $currentCategory]); ?>
        </div>
    </div>
</div>