    <?php defined("APP") or die("Hacking attempt!");

    $current_year = date("Y");
    if($current_year != "2016") $current_year = "2016-".$current_year;
    ?>
    <div class="container">
        <div class="col-md-12">
            <hr>
            <footer>
                &copy <?=$current_year?> <a href="/" target="_blank"><b><?=SITE_NAME?></b></a>.
            </footer>
        </div>
    </div>

    <script src="<?=THEME_PATH?>/jquery/jquery.min.js"></script>
    <script src="<?=THEME_PATH?>/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>