<?php defined("APP") or die("Hacking attempt!"); 

?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><?=$title." / ".SITE_NAME?></title>
	<link rel="stylesheet" href="<?=THEME_PATH?>/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="<?=THEME_PATH?>/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="<?=THEME_PATH?>/css/styles.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><b><?=SITE_NAME?></b></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li<?=self::navActive("index", "main")?>><a href="/">Главная</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="<?=genUrl('profile')?>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Панель пользователя <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="<?=genUrl('login')?>">Вход</a></li>
                            <li><a href="<?=genUrl('register')?>">Регистрация</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <?=show_syst_msg()?>