<?php defined("APP") or die("Hacking attempt!"); ?>
<div class="sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <li class="list-group-item">Категории</li>
        <?php if(!empty($categories)): ?>
            <a href="/" class="list-group-item<?php echo (empty($currentCategory)) ? ' active' : ''; ?>">Все посты</a>
            <?php foreach($categories as $category): ?>
                <a href="<?=genUrl('index', 'main', ['category' => $category['link']])?>" class="list-group-item<?php echo ($currentCategory == $category['link']) ? ' active' : ''; ?>"><?=$category['name']?></a>
            <?php endforeach; ?>
        <?php else: ?>
            <div class="alert alert-info">Категорий пока нет.</div>
        <?php endif; ?>
    </div>
</div>