<?php defined("APP") or die("Hacking attempt!");
$current_year = date("Y");
if($current_year != "2016") $current_year = "2016-".$current_year;
?>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr>
        <footer>
            &copy <?=$current_year?> <a href="http://belcoders.ru/" target="_blank">Belcoders</a>, Inc.
        </footer>
    </div>
</div>

<script src="/install/theme/jquery/jquery.min.js"></script>
<script src="/install/theme/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>