<?php defined("APP") or die("Hacking attempt!");
$current_step = $_SESSION["step"];
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><?=$title?></title>
	<link rel="stylesheet" href="/install/theme/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/install/theme/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
	<link rel="stylesheet" href="/install/theme/css/styles.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Установка</a>
		</div>
	</div>
</nav>
<div class="container">
	<div class="col-md-4">
		<div class="list-group">
			<a href="?step=1" class="list-group-item<?php if($current_step == 1) echo ' active'; ?>">Настройка подключения к базе данных</a>
			<a href="?step=2" class="list-group-item<?php if($current_step == 2) echo ' active'; ?>">Общая информация о сайте</a>
			<a href="?step=3" class="list-group-item<?php if($current_step == 3) echo ' active'; ?>">Создание аккаунта администратора</a>
			<a href="?step=4" class="list-group-item<?php if($current_step == 4) echo ' active'; ?>">Установка завершена</a>
			<hr>
			<a href="?clear" class="list-group-item">Начать с начала</a>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-body">