<?php defined("APP") or die("Hacking attempt!");
use \app\models\User; ?>
<div class="alert alert-info">
    Теперь укажите данные для аккаунта администратора.
</div>
<?=User::showLoginRules()?>
<?=show_msg("install_step_3")?>
<form method="POST" class="form-horizontal">
    <div class="form-group">
        <label for="login" class="col-sm-3 control-label">Логин:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="login" id="login">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Пароль:</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" name="password" id="password">
        </div>
    </div>
    <div class="form-group">
        <label for="password2" class="col-sm-3 control-label">Повторите пароль:</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" name="password2" id="password2">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">E-Mail:</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" name="email" id="email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Завершить</button>
        </div>
    </div>
</form>