<?php defined("APP") or die("Hacking attempt!"); ?>
<div class="alert alert-success">
	<h4><b>Установка успешно завершена!</b></h4>
	Теперь Вы можете пользоваться сайтом.<br>
	<b>Не забудьте удалить папку <i>install</i> из корня сайта.</b>
	<br><br>
	<a href="/">Перейти на главную страницу</a>
</div>