<?php defined("APP") or die("Hacking attempt!"); ?>
<div class="alert alert-info">
	Теперь укажите общую информацию о сайте.
</div>
<?=show_msg("install_step_2")?>
<form method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="site_name" class="col-sm-3 control-label">Название сайта:</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="site_name" id="site_name">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-default">Продолжить</button>
		</div>
	</div>
</form>