<?php defined("APP") or die("Hacking attempt!"); ?>
<div class="alert alert-info">
	Для начала установки Вам нужно ввести данные от базы данных, на которую будет установлена CMS.
</div>
<?=show_msg("install_step_1")?>
<form method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="host" class="col-sm-3 control-label">Хост:</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="host" id="host">
		</div>
	</div>
	<div class="form-group">
		<label for="user" class="col-sm-3 control-label">Пользователь:</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="user" id="user">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-3 control-label">Пароль:</label>
		<div class="col-sm-9">
			<input type="password" class="form-control" name="password" id="password">
		</div>
	</div>
	<div class="form-group">
		<label for="db_name" class="col-sm-3 control-label">База данных:</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="db_name" id="db_name">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="is_clear"> Очистить базу данных
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-default">Продолжить</button>
		</div>
	</div>
</form>